VT_API_KEY=
ABUSEIPDB_API_KEY=
SHODAN_API_KEY=
IPQS_API_KEY=
IPINFO_API_KEY=
FILE_SCAN_IO=
HYBRID_ANALYSIS_API_KEY=
JOE_SANDBOX_CLOUD_API_KEY=
GREYNOISE_API_KEY=
OTX_API_KEY=
URLSCAN_API_KEY=
SHADOWSCOPE_API_TOKEN=
SHADOWSCOPE_CORS_ORIGINS=*
SHADOWSCOPE_HOST_PORT=8765
OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_MODEL=llama3.2
