# API Keys for ShadowScope
VT_API_KEY=your_virustotal_api_key_here
ABUSEIPDB_API_KEY=your_abuseipdb_api_key_here
SHODAN_API_KEY=your_shodan_api_key_here
IPQS_API_KEY=your_ipqualityscore_api_key_here
IPINFO_API_KEY=your_ipinfo_api_key_here
FILE_SCAN_IO=your_filescan_io_api_key_here
HYBRID_ANALYSIS_API_KEY=your_hybrid_analysis_api_key_here
JOE_SANDBOX_CLOUD_API_KEY=your_joe_sandbox_api_key_here
GREYNOISE_API_KEY=your_greynoise_api_key_here
